.hidden{
  display: none;
}

li{
  list-style: none;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  width: 400px;
  height: auto;
}

body{
  width: 1000px;
  height: auto;
}

#rightside, #leftside{
  width: 450px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
ul{
  height: 500px;
  width: auto;
}
